
body{background-image: url("https://png.pngtree.com/thumb_back/fw800/back_pic/04/55/07/235863b645970a4.jpg")}
.navbar-brand
{
  font-size: 50px;
  color: red;
}
.navbar-toggler
{
  background-color: pink;

}
.navbar-light .navbar-brand
 {
    color:red;
}
.navbar-toggler-icon
{
 background-color: pink;
}

.navbar-nav
{
  font-size: 40px;
  text-align: center;
  background-color:pink;

}
h1
{
  text-align: center;
  box-sizing: 50px;


}
@media (min-width: 760px)
{
  .nav-item
  {
    display: none;
  }
}
.gogo
{
  border-style: solid;
  border-color: pink;
  margin-left: 2%;
  margin-right: 2%;
  margin-top: 2%;
  border: 2px solid #ddd;
  font-weight: bolder;
  padding: 20px;
}
.medo
{text-align: center;}
.top
{
  text-align: center;
  font-size: 50px;
  color: red ;

}